<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-plane">Parks</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to parks_path do %>
            <span class="glyphicon glyphicon-home"></span>&nbsp&nbspList
          <% end %>
        </li>
      </ul>
      <%= form_tag parks_path, method: 'get', class: "navbar-form navbar-left", role: "search" do %>
        <div class="form-group">
          <%= text_field_tag 'name', '', {class: 'form-control', placeholder: 'Park name'} %>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.email %>
            <% else %>
              User
            <% end %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li>
                <%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Sign in', new_user_session_path %>
              </li>
              <li>
                <%= link_to 'Sign up', new_user_registration_path %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>